body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.container {
  max-width: 600px;
  margin: auto;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}


input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

table {
  width: 100%;
  
}

/* Make device column wider */
th:nth-child(2),
td:nth-child(2) {
  width: auto;
  text-align: center;
}


th {
  position: sticky;
  top: 0;
  /* z-index: 2; */
  text-align: center;

}

.u-number {
  background: #eef1f4;
  font-weight: bold;
  width: 20px;

  position: sticky;
  left: 0;
  z-index: 1;
  padding: 1px;
}


textarea {
  width: 100%;
  min-height: 36px;
  resize: vertical;
  border: none;
  text-align: center;
  box-sizing: border-box;
}